* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body.paused {
  /* O user-select: none impede que o usuário selecione o texto da página. */
  user-select: none;
  -webkit-user-select: none;
  /* O webkit-touch-callout: none impede que o navegador mostre o menu de contexto quando o usuário segura o dedo sobre um elemento. */
  -webkit-touch-callout: none;
  /* O text-size-adjust: none impede que o navegador ajuste o tamanho da fonte para melhorar a leitura. */
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  /* O touch-action: manipulation impede que o navegador execute ações padrões de toque, como o zoom. */
  touch-action: manipulation;
}


img,
video {
  display: block;
  max-width: 100%;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  margin: 20px 0;
}

#slide {
  display: grid;
  border-radius: 4px;
  overflow: hidden;
  margin: 0 auto;
  max-width: 800px;
  background-color: #000;
}

#slide-elements {
  display: grid;
  grid-area: 1 / 1;
  justify-items: center;
  align-items: center;
}

/* Fala com todos os elementos filhos de #slide-elements. */
#slide-elements>* {
  grid-area: 1 / 1;
  opacity: 0;
  visibility: none;
}

/* Fala com o elemento filho de #slide-elements que estiver com a classe active. */
#slide-elements>.active {
  opacity: 1;
  visibility: visible;
}

#slide-controls {
  grid-area: 1 / 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

#slide-controls button:not(#slide-volume) {
  opacity: 0;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

#slide-volume {
  position: absolute;
  right: 15px;
  bottom: 15px;
  padding: 4px;
  background-color: rgba(255, 255, 255, .2);
  border: none;
  z-index: 999;
  display: flex;
  border-radius: 4px;
  pointer-events: all;
}

#slide-volume-muted {
  display: none;
}


#slide-thumb {
  display: flex;
  position: absolute;
  width: 100%;
  pointer-events: none;
}

/* Fala com o elemento filho de #slide-thumb que for um span. */
#slide-thumb>span {
  width: 100%;
  display: block;
  height: 4px;
  background: rgba(255, 255, 255, .2);
  margin: 5px;
  border-radius: 4px;
  overflow: hidden;
  /* Isola o elemento para que ele não seja afetado pela animação do elemento pai. */
  isolation: isolate;
}

#slide-thumb .thumb-item.active {
  display: block;
  /* Herda a altura do elemento pai, no caso o span do #slide-thumb. */
  height: inherit;
  background: rgba(255, 255, 255, .9);
  border-radius: 4px;
  transform: translateX(-100%);
  animation: thumb forwards linear running;
}

#slide-thumb .thumb-item.paused {
  /* O animation-play-state está sendo usado para pausar a animação. */
  animation-play-state: paused;
}

@keyframes thumb {
  to {
    /* Começa com o valor do transform definido aonde a animação for aplicada. */
    transform: initial;
  }
}

#file {
  margin: 20px auto;
  max-width: 800px;
  width: 90vw;
}

#file-media {
  display: flex;
  align-items: center;
}

#file-input {
  display: none;
}

#file-label {
  background-color: #B07DFB;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
  width: 60%;
  text-align: center;
}

#file-label:hover {
  background-color: #A56DEB;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#file-button {
  background-color: #2ecc71;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 40%;
}

#file-button:hover {
  background-color: #27ae60;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#file-button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
  box-shadow: none;
}

#file-info {
  display: none;
  margin-top: 18px;
  font-weight: 700;
}

#file-name {
  font-size: 14px;
  font-weight: 500;
}